@model IEnumerable<CategoryDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Api'den gelen Kategoriler Listesi</h1>

<a class="btn btn-primary mb-3" asp-action="Create">Kategori Ekle</a>

<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Islemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-Id="@item.ID">Guncelle</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-Id="@item.ID">Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>


